{% extends "Station/base.html" %}


{% block heading %}
  <h1 class="mt-2 mb-4 text-center">Delete weather data?</h1>
{% endblock heading %}

{% block form %}
{% csrf_token %}
{% load crispy_forms_tags %}
<div>
  {{ form.date_time|as_crispy_field }}
  {{ form.weather_condition|as_crispy_field }}
  <div class="form-row">
    <div class="form-group col-md-4 mb-0">
      {{ form.temperature_c|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.humidity|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.cloud|as_crispy_field }}
    </div>
  </div>
</div>
{% endblock form %}
{% block button %}
<form method="post" class="float-right pr-2">{% csrf_token %}
  <input class="btn btn-outline-danger" type="submit" value="Confirm"/>
  <a href="{% url 'weather_data_data' station_id %}" class="btn btn-outline-secondary">Cancel</a>
</form>
{% endblock button %}