{% extends "AccountsManager/base.html" %}

{% block title %}
Weather: Register
{% endblock title %}

{% block heading %}
<h1 class="mt-2 mb-4"> Register </h1>
{% endblock heading %}

{% block form %}
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.last_name|as_crispy_field }}
      </div>
    </div>
    {{ form.username|as_crispy_field }}
    {{ form.email|as_crispy_field }}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}
{% endblock form %}
{% block button %}
  <button type="submit" name="register" class="btn btn-primary">Register</button>
  <p>Already have an account? <a href="/login">Login</a></p>
{% endblock button %}

{% comment %} {% extends "AccountsManager/base.html" %}

{% block title %}
Weather: Register
{% endblock title %}

{% block heading %}
<h1 class="mt-2 mb-4"> Register </h1>
{% endblock heading %}
{% block button %}
<button type="submit" name="register" class="btn btn-primary">Register</button>
<p>Already have an account? <a href="/login">Login</a></p>
{% endblock button %} {% endcomment %}