{% extends "Station/base.html" %}
{% block title %} Stations {% endblock title %}

{%block content %}
{% block heading %}
<br/>
<div class="mt-2 mb-4 h1 pr-2 pl-3">
    Stations
    {% if user.is_authenticated %}
      <a class="btn btn-info float-right" href="/station/input"> Add New </a>
    {% endif %}
</div>
{% endblock heading %}
<table class="table table-hover">
    <thead class="thead-light text-center">
        <tr>
            <th scope="row">ID</th>
            <th scope="row">Name </th>
            <th scope="row">Country</th>
            <th scope="row">City</th>
            <th scope="row">Latitude</th>
            <th scope="row">Longitude</th>
            <th></th>
        </tr>
    </thead>
        {% for item in data %}
            <tr>
                <td class="text-center"> {{ item.id }} </td>
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.country }}</td>
                <td class="text-center">{{ item.city }}</td>
                <td class="text-center">{{ item.latitude }}</td>
                <td class="text-center">{{ item.longitude }}</td>
                <td class="text-center"><a href="/station/delete/{{ item.id }}"> Delete </a></td>
            </tr>
        {% endfor %}
</table>
{% endblock content %}