{% extends "Station/base.html" %}

{% block form %}
{% csrf_token %}
{% load crispy_forms_tags %}
<div>
    {{ form.name|as_crispy_field }}
   <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.country|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.city|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.latitude|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.longitude|as_crispy_field }}
      </div>
    </div>
</div>
<script id="self" data-cities-url="{% url 'ajax_load_cities' %}">
  $("#id_country").change(function () {
    var url = document.getElementById("self").getAttribute("data-cities-url");  // get the url of the `load_cities` view
    console.log($(this))
    var country = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'country_id': country       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        console.log(data);
        $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>
{% endblock form %}
{% block button %}
  <button type="submit" name="add" class="btn btn-primary">Save</button>
{% endblock button %}