{% extends "Station/base.html" %}
{% load static %}
{% block title %} Station {% endblock title %}

  {%block content %}

    {% block heading %}
      <script src="{% static "chart.js-3.6.2/dist/chart.min.js" %}"></script>
    {% endblock heading %}

    <table class="table table-borderless">
        <tbody>
            <tr>
                <td class="col-sm-6"><canvas id="tempChart" width="150" height="150"></canvas></td>
                <td class="col-sm-6"><canvas id="humChart" width="150" height="150"></canvas></td>
            </tr>
            <tr>
                <td class="col-sm-6"><canvas id="cldsChart" width="150" height="150"></canvas></td>
                <td class="col-sm-6"><canvas id="wndsChart" width="150" height="150"></canvas></td>
            </tr>
        </tbody>
    </table>

    <script type="text/javascript">
        var temperatures_c = "{{ data.temperatures_c }}"
        var temperatures_c = temperatures_c.match(/\d+(?:\.\d+)?/g).map(Number)
        var humidity = "{{ data.humidity }}"
        var humidity = humidity.match(/\d+(?:\.\d+)?/g).map(Number)
        var clouds = "{{ data.clouds }}"
        var clouds = clouds.match(/\d+(?:\.\d+)?/g).map(Number)
        var windspeeds = "{{ data.windspeeds }}"
        var windspeeds = windspeeds.match(/\d+(?:\.\d+)?/g).map(Number)

        var hours = [];
        var temp_hours = "{{ data.hours }}"
        temp_hours = temp_hours.slice(1, temp_hours.length-1)
        temp_hours = temp_hours.split(", ")
        temp_hours.forEach(convertDates_Weeks)
        var backgroundColor = ['rgba(255, 99, 132, 0.2)']
        var borderColor = ['rgba(255, 99, 132, 1)']
        createTempChart('Temperature (C)', temperatures_c, backgroundColor, borderColor)
        createHumChart('Humidity (%)', humidity, backgroundColor, borderColor)
        createCldsChart('Clouds (%)', clouds, backgroundColor, borderColor)
        createWndSChart('Wind speed (kph)', windspeeds, backgroundColor, borderColor)

        function convertDates_Weeks(value) {
          // For some reason the date values have "&#x27;" in them.
          value = value.replace('&#x27;', '')
          value = value.replace('&#x27;', '')
          // hours.push(date.toLocaleString('en-us', {  weekday: 'short' }))
          hours.push(value)
        }

        function createTempChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: hours,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('tempChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' C';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Temperature'
                  }
                }
              }
            })
        }

        function createHumChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: hours,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('humChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' %';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Humidity'
                  }
                }
              }
            })
        }

        function createCldsChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: hours,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('cldsChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' %';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Humidity'
                  }
                }
              }
            })
        }
        function createWndSChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: hours,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('wndsChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' kph';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Humidity'
                  }
                }
              }
            })
        }
    </script>
{% endblock content %}