{% extends "Station/base.html" %}
{% load static %}
{% block title %} Station {% endblock title %}

{%block content %}

  <script src={% static "bootstrap-4.3.1-dist/js/bootstrap.bundle.js" %}></script>
  <div class="mt-3 ml-3">
    <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        This year
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="?tf=day">Today</a>
        <a class="dropdown-item" href="?tf=week">This week</a>
        <a class="dropdown-item" href="?tf=month">This month</a>
        </div>
    </div>

    {% block heading %}
      <script src="{% static "chart.js-3.6.2/dist/chart.min.js" %}"></script>
    {% endblock heading %}

    <table class="table table-borderless">
        <tbody>
            <tr>
                <td class="col-sm-6"><canvas id="tempChart" width="150" height="150"></canvas></td>
                <td class="col-sm-6"><canvas id="humChart" width="150" height="150"></canvas></td>
            </tr>
            <tr>
                <td class="col-sm-6"><canvas id="cldsChart" width="150" height="150"></canvas></td>
                <td class="col-sm-6"><canvas id="wndsChart" width="150" height="150"></canvas></td>
            </tr>
        </tbody>
    </table>

    <script type="text/javascript">
        var temperatures_c = "{{ data.temperatures_c }}"
        var temperatures_c = temperatures_c.match(/\d+(?:\.\d+)?/g).map(Number)
        var humidity = "{{ data.humidity }}"
        var humidity = humidity.match(/\d+(?:\.\d+)?/g).map(Number)
        var clouds = "{{ data.clouds }}"
        var clouds = clouds.match(/\d+(?:\.\d+)?/g).map(Number)
        var windspeeds = "{{ data.windspeeds }}"
        var windspeeds = windspeeds.match(/\d+(?:\.\d+)?/g).map(Number)

        console.log(temperatures_c, humidity, clouds, windspeeds)

        var months = [];
        var temp_months = "{{ data.months }}"
        temp_months = temp_months.slice(1, temp_months.length-1)
        temp_months = temp_months.split(", ")
        console.log(temp_months)
        temp_months.forEach(convertDates_Weeks)
        createTempChart('Temperature (C)', temperatures_c, ['rgba(255, 99, 132, 0.2)'], ['rgba(255, 99, 132, 1)'])
        createHumChart('Humidity (%)', humidity, ['rgba(54, 162, 235, 0.2)'], 'rgba(54, 162, 235, 1)')
        createCldsChart('Clouds (%)', clouds, ['rgba(255, 206, 86, 0.2)'], ['rgba(255, 206, 86, 1)'])
        createWndSChart('Wind speed (kph)', windspeeds, ['rgba(153, 102, 255, 0.2)'], ['rgba(153, 102, 255, 1)'])

        function convertDates_Weeks(value) {
          // For some reason the date values have "&#x27;" in them.
          value = value.replace('&#x27;', '')
          value = value.replace('&#x27;', '')
          // months.push(date.toLocaleString('en-us', {  weekday: 'short' }))
          months.push(value)
        }

        function createTempChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: months,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('tempChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' C';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Temperature'
                  }
                }
              }
            })
        }

        function createHumChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: months,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('humChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' %';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Humidity'
                  }
                }
              }
            })
        }

        function createCldsChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: months,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('cldsChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' %';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Humidity'
                  }
                }
              }
            })
        }
        function createWndSChart(label, data, backgroundColor, borderColor) {
            var data = {
              labels: months,
              datasets: [{
                  label: label,
                  data: data,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1
              }]
            }
            var ctx = document.getElementById('wndsChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return value + ' kph';
                            }
                        },
                        display: true,
                        beginAtZero: true,
                        text: 'test'
                    },
                    x: {
                        display: true,
                        text: 'test'
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: 'Humidity'
                  }
                }
              }
            })
        }
    </script>
{% endblock content %}